#divTablero{
    display: grid;
    margin:50px auto;
    padding:50px;
    grid-template-columns: repeat(9,50px);
    grid-template-rows: repeat(9,50px );
    width:400px;
    height:200px;
}
.casillas {
  background-color: 2px #BBBBBB;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #A9A9A9;
  border-bottom: 2px solid #A9A9A9;
}